<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>HUNGRY</title>

  </head>
  <body>
			                                                
		<!-- start header area -->
		<header class="header_area">
			<nav class="navbar navbar-expand-lg py-0" id="navbar-example">
				<div class="container">
					<div class="logo">
						<a href="#"><img src="img/logo.png" alt=""></a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon icon_bar"><i class="fa fa-bars"></i></span>
					</button>
					<div class="collapse navbar-collapse" id="mynav">
						<ul class="navbar-nav nav nav-pills ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="#home">HOME<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#booking"> RESERVATIONS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#menu">MENU</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#blog">BLOG</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#follow">FEATURES</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#follow">SHOP</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#contact">CONTACT</a>
							</li>
						</ul>
						<div class="shopping_card">
							<a href="#"><img src="img/card.png" alt=""></a>
						</div>
					</div>
					
				</div>
			</nav>
		</header>
		<!-- end header area -->

		<!-- start slider area -->
			<section class="slider_area" id="home">
				<i class="fa fa-angle-left prevbtn" aria-hidden="true"></i>
         		<i class="fa fa-angle-right  nxtbtn" aria-hidden="true"></i>
				<div class="slider_item">
					<div class="slider" style="background: url(img/slider.jpg)no-repeat;background-size:cover;background-position:center;">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="slider_text text-center" >
										<h2>Welcome To Hungry</h2>
										<h3>Enjoy Our Foods</h3>
										<div class="slider_btn">
											<a href="#">Explore</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider" style="background: url(img/slider.jpg)no-repeat;background-size:cover;background-position:center;">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="slider_text text-center" >
										<h2>Welcome To Hungry</h2>
										<h3>Enjoy Our Foods</h3>
										<div class="slider_btn">
											<a href="#">Explore</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider" style="background: url(img/slider.jpg)no-repeat;background-size:cover;background-position:center;">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="slider_text text-center" >
										<h2>Welcome To Hungry</h2>
										<h3>Enjoy Our Foods</h3>
										<div class="slider_btn">
											<a href="#">Explore</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- start slider area -->

		<!-- start discover area -->
			<section class="discover_area">
				<div class="discover">
					<div class="discover_side">
						<img src="img/discover.png" alt="image">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="discover_left text-center">
									<h2>Discover</h2>
									<h3>OUR STORY</h3>
									<p>Rosa is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London inteon.</p>
									<div class="discover_btn">
										<a href="#">Our Story <i class="fa fa-angle-right cursore" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 ">
								<div class="discover_right">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="discover_left_single">
												<img src="img/discover2.jpg" alt="image">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="discover_left_single">
												<img src="img/discover3.jpg" alt="image">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end discover area -->

		<!-- start best offer area -->
			<section class="best_offer_area">
				<div class="best_offer">
						<i class="prevbtn1" aria-hidden="true"></i>
						<i class="nxtbtn1" aria-hidden="true"></i>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="offer_top_text">
									<h2>Best Offers</h2>
								</div>
							</div>
						</div>
						
						<div class="row all_best justify-content-center">
							<div class="col-lg-3">
								<div class="single_bestoffer">
										<div class="best_one">
												<div class="offer">
													<p>50% off</p>
												</div>
												<div class="offer_image text-center">
													<img src="img/offer1.png"/>
												</div>
												<div class="offer_text text-center">
													<h2>Chicken Fry</h2>
													<p>Breakfast, Dessert</p>
													<h3>$4.50</h3>
												</div>
												<div class="offer_card">
													<div class="row text-center">
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 justify-content-center">
															<div class="increment">
																<span><button class="btn_btn" type="button">-</button></span><span><input  type="text" class="width" value="1"></span><span><button class="btn_btn" type="button">+</button></span>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pl-0 ">
															<div class="shop_card">
																<a href="#"><img src="img/card.png"/></a>
															</div>
														</div>
													</div>
												</div>
											</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="single_bestoffer">
										<div class="best_one">
												<div class="offer">
													<p>50% off</p>
												</div>
												<div class="offer_image text-center">
													<img src="img/offer2.png"/>
												</div>
												<div class="offer_text text-center">
													<h2>Fried Rice Fry</h2>
													<p>Breakfast, Dessert</p>
													<h3>$5.50</h3>
												</div>
												<div class="offer_card">
													<div class="row text-center">
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 justify-content-center">
															<div class="increment">
																<span><button class="btn_btn" type="button">-</button></span><span><input  type="text" class="width" value="1"></span><span><button class="btn_btn" type="button">+</button></span>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pl-0 ">
															<div class="shop_card">
																<a href="#"><img src="img/card.png"/></a>
															</div>
														</div>
													</div>
												</div>
											</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="single_bestoffer">
										<div class="best_one">
												<div class="offer">
													<p>50% off</p>
												</div>
												<div class="offer_image text-center">
													<img src="img/offer3.png"/>
												</div>
												<div class="offer_text text-center">
													<h2>Egg Pot Fry</h2>
													<p>Breakfast, Dessert</p>
													<h3>$6.50</h3>
												</div>
												<div class="offer_card">
													<div class="row text-center">
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 justify-content-center">
															<div class="increment">
																<span><button class="btn_btn" type="button">-</button></span><span><input  type="text" class="width" value="1"></span><span><button class="btn_btn" type="button">+</button></span>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pl-0 ">
															<div class="shop_card">
																<a href="#"><img src="img/card.png"/></a>
															</div>
														</div>
													</div>
												</div>
											</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="single_bestoffer">
										<div class="best_one">
												<div class="offer">
													<p>50% off</p>
												</div>
												<div class="offer_image text-center">
													<img src="img/offer3.png"/>
												</div>
												<div class="offer_text text-center">
													<h2>Egg Pot Fry</h2>
													<p>Breakfast, Dessert</p>
													<h3>$6.50</h3>
												</div>
												<div class="offer_card">
													<div class="row text-center">
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 justify-content-center">
															<div class="increment">
																<span><button class="btn_btn" type="button">-</button></span><span><input  type="text" class="width" value="1"></span><span><button class="btn_btn" type="button">+</button></span>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pl-0 ">
															<div class="shop_card">
																<a href="#"><img src="img/card.png"/></a>
															</div>
														</div>
													</div>
												</div>
											</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="single_bestoffer">
										<div class="best_one">
												<div class="offer">
													<p>50% off</p>
												</div>
												<div class="offer_image text-center">
													<img src="img/offer-4.png"/>
												</div>
												<div class="offer_text text-center">
													<h2>Beep Carry</h2>
													<p>Breakfast, Dessert</p>
													<h3>$4.90</h3>
												</div>
												<div class="offer_card">
													<div class="row text-center">
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 justify-content-center">
															<div class="increment">
																<span><button class="btn_btn" type="button">-</button></span><span><input  type="text" class="width" value="1"></span><span><button class="btn_btn" type="button">+</button></span>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-6 pl-0 ">
															<div class="shop_card">
																<a href="#"><img src="img/card.png"/></a>
															</div>
														</div>
													</div>
												</div>
											</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end best offer area -->

		<!-- start our menu area -->
			<section class="our_menu_area" id="menu">
				<div class="our_menu">
					<div class="menu_side_back">
						<img src="img/menu_back.png" alt="image">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="our_menu_left">
										<div class="row justify-content-right">
												<div class="col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="sinle_left_menu">
														<img src="img/menu1.jpg" alt="image">
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="single_right_menu">
														<img src="img/menu2.jpg" alt="image">
														<img src="img/menu3.jpg" alt="image">
													</div>
												</div>
											</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="menu_right text-center">
										<h2>Discover</h2>
										<h3>OUR MENU</h3>
										<p>Rosa is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London inteon.</p>
										<div class="menu_btn">
											<a href="#">Full Menu View <i class="fa fa-angle-right cursore" aria-hidden="true"></i></a>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end our menu area -->

		<!-- start booking area -->
			<section class="booking_area" id="booking">
				<div class="booking">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="booking_top_text">
									<h3>Let’s</h3>
									<h2>Book a Table</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-8 col-sm-12 col-12">
								<div class="booking_table">
									<div class="row justify-content-center">
										<div class="col-lg-4 col-md-4 col-sm-4 col-6">
											<div class="single_option">
													<div class="form-group">
														<label for="#">Date</label>
														<select class="form-control controls" id="#">
															<option>01-01-2019</option>
														</select>
													</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-6">
											<div class="single_option">
													<div class="form-group">
															<label for="#">Time</label>
															<select class="form-control controls" id="#">
																<option>12 pm</option>
															</select>
													</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-6">
											<div class="single_option">
													<div class="form-group">
															<label for="#">Person</label>
															<select class="form-control controls" id="#">
																<option>01</option>
															</select>
													</div>
											</div>
										</div>
									</div>
									<div class="form-group input_input">
											<input type="email" class="form-control controls" id="#" placeholder="Enter your email">
									</div>
									<div class="booking_btn">
										<a href="#">Check Available <i class="fa fa-angle-right cursore" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end booking area -->

		<!-- start special food -->
			<section class="special_food_area">
				<div class="special_food">
					<div class="special_top_back">
						<img src="img/food_back.png" alt="image">
					</div>
					<div class="special_side_back">
						<img src="img/food_back2.png" alt="image">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-12 col-12">
								<div class="single_special_left">
									<h2>Special </h2>
									<h3>Food</h3>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The </p>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12 col-12">
								<div class="row">
									<div class="col-lg-8 col-sm-12 col-12">
										<div class="special_right_text">
											<h5>Chicken Burger</h5>
											<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum </p>
											<h6>Price</h6>
											<h2>$45.60</h2>
											<div class="special_right_btn">
												<a href="#"><img src="img/card.png" alt="image"> Add To Cart</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-sm-4 col-4">
										<div class="special_right_imgage">
											<img src="img/special-food.jpg" alt="image">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end special food -->

		<!-- start special team area -->
			<section class="special_team_area">
				<div class="special_team">
					<div class="container">
							<div class="row">
									<div class="col-lg-12">
										<div class="team_top_text">
											<h2>Special Team</h2>
										</div>
									</div>
								</div>
								<div class="row text-center justify-content-center">
									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="single_team">
											<img src="img/team1.png" alt="image">
											<div class="special_team_text">
												<h2>JEFFREY SPENDER</h2>
												<h5>Head Barman</h5>
												<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="single_team">
											<img src="img/team2.png" alt="image">
											<div class="special_team_text">
												<h2>TUHIN SPENDER</h2>
												<h5>Head Barman</h5>
												<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="single_team">
											<img src="img/team3.png" alt="image">
											<div class="special_team_text">
												<h2>ARAFAT SPENDER</h2>
												<h5>Head Barman</h5>
												<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="special_team_btn">
											<a href="#">View More</a>
										</div>
									</div>
								</div>
					</div>
				</div>
			</section>
		<!-- end special team area -->

		<!-- start client area -->
			<section class="client_area">
				<div class="client">
					<div class="client_side_image">
						<img src="img/client-back.png" alt="image">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="single_client">
											<img src="img/client1.png" alt="image">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-6">
											<div class="single_client text-right">
													<img src="img/client4.png" alt="image">
												</div>
									</div>
									<div class="col-lg-12 text-center">
											<div class="single_client ">
													<img src="img/client3.png" alt="image">
												</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-6">
											<div class="single_client">
													<img src="img/client2.png" alt="image">
												</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-6">
											<div class="single_client text-right">
													<img src="img/client5.png" alt="image">
											</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="client_right_text">
									<h3>Check What Our Client</h3>
									<h4>Say About Us</h4>
									<div class="client_for_arrow">
											<i class="fa fa-long-arrow-left prev" aria-hidden="true"></i>
											<i class="fa fa-long-arrow-right nxt" aria-hidden="true"></i>
											<div class="all_scroll_client all_special">
													<div class="single_scroll_client">
														<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even sligh..</p>
														<div class="client_img">
															<img src="img/client3.png" alt="image">
														</div>
														<div class="scroll_client_name">
															<h5>John Cheary</h5>
															<h6>Cheif Director</h6>
														</div>
													</div>
													<div class="single_scroll_client">
														<p> variations of passages There are many  of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even sligh..</p>
														<div class="client_img">
															<img src="img/client4.png" alt="image">
														</div>
														<div class="scroll_client_name">
															<h5> Cheary John </h5>
															<h6>Cheif Director</h6>
														</div>
													</div>
													<div class="single_scroll_client">
														<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even sligh..</p>
														<div class="client_img">
															<img src="img/client1.png" alt="image">
														</div>
														<div class="scroll_client_name">
															<h5> dev John </h5>
															<h6>Cheif Director</h6>
														</div>
													</div>
												</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end client area -->

		<!-- start mapping area -->
			<section class="map_area" id="#contact">
				<div class="map">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-8 col-12">
								<div class="single_mapping">
									<h2>Our Store</h2>
									<p>123 Suspendis matti, Visaosang Building VST District, NY Accums, North American
										</p>
									<div class="bottom_phone">
										<ul>	
											<li>0123-456-78910</li>
											<li>support@domain.com</li>
										</ul>
									</div>
									<div class="direction_btn">
										<a href="#">Get Directions</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- end mapping area -->

		<!-- start footer area -->
			<footer class="footer_area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">
							<div class="single_menu">
								<ul>
									<li><a href="#">HOME</a></li>
									<li><a href="#">RESERVATIONS</a></li>
									<li><a href="#">MENU</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">
							<div class="single_menu_logo">
								<img src="img/logo.png" alt="image">
							</div>          
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">
								<div class="single_menu">
									<ul>
										<li><a href="#">BLOG</a></li>
										<li><a href="#">FEATURES</a></li>
										<li><a href="#">SHOP</a></li>
										<li><a href="#">CONTACT</a></li>
									</ul>
								</div>
							</div>
					</div>
				</div>
			</footer>
		<!-- end footer area -->



    <!-- start jquer version js -->
    <script src="js/jquery-1.12.4.min.js"></script>

    <!-- start proper js -->
    <script src="js/popper.min.js"></script>

    <!-- start bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- start slick js -->
    <script src="js/slick.min.js"></script>

    <!-- start script js -->
    <script src="js/script.js"></script>
  </body>
</html>
